extends layout

block content
	.section.maintron
		.filter
		video#bgvid(autoplay='',  muted, loop='', poster='/images/poster.jpg')
			source(src='/images/video.webm', type='video/webm')
			source(src='/images/video.mp4', type='video/mp4')
			source(src='/images/video.ogv', type='video/ogv')
		.container.text-center
			h1 Alexander Afzelius Puccini
			p.ingress(style="color: white !important; opacity: 0.9;") På jakt efter praktik
	.section
		.menu
			ul
				li
					a#section-me Om mig
				li
					a#section-cv CV
				li
					a#section-projects Projekt
				li
					a#section-contact Kontakt
	.section.section-header
		.container
			.row
				.col-xs-12
					h1.fill-text.text-center
						|Jag vill göra internet snyggare, smidigare, och snabbare.
					p.ingress.text-center
						|Min ambition är att ligga i webbutvecklingens framkant. Med funktionell
						| design, användarvänlighet och responsivitet vill jag förmedla bästa möjliga upplvelse.
			.row.icons
				.col-md-3
				.col-md-2.text-center
					p
						i.fa.fa-paint-brush.fa-2x.fill-text2
					h4
						|Design
				.col-md-2.text-center
					p
						i.fa.fa-laptop.fa-2x.fill-text2
						i.fa.fa-tablet.fa-2x.fill-text2
						i.fa.fa-mobile.fa-2x.fill-text2
					h4 Responsiv
				.col-md-2.text-center
					p
						i.fa.fa-users.fa-2x.fill-text2
					h4 Användarvänlighet
				.col-md-3
	.section.section-me
		.container
			.row
				.col-xs-12
					h1.fill-text.text-center
						|Min story
					p.text-center.text-left
						|Jag är 25år fyllda och studerar just nu till systemutvecklare.NET. 
						|Jag har emellertid funnit mitt intresse i frontend och det är det jag 
						|vill jobba med, men jag tror och hoppas att min förståelse för backend gör 
						|mig mer attraktiv i min sökan.	Jag har sex års arbetslivserfarenhet, alla 
						|inom serviceyrken, varav min senaste och nuvarande	arbetsgivare sen tre år 
						|tillbaka är Casino Cosmopol. På fritiden tränar jag mycket, jag har bestämt 
						|mig för att det är dags att uppgradera min kropp. Podcast är en annan grej 
						|jag inte klarar mig utan. Jag poddar konstant!
	.section.section-cv
		.container
			.row
				.col-md-4
					.card.text-center(data-sr="enter bottom and scale up 20% over 0.5s")
						h3 Utbildning
						p Teknikhögskolan 
							br
							|Applikationsutvecklare.Net
							br
							span.year
								|2013 - 2015
						p Tyresö Gymnasium 
							br
							|Samhällsvetenskap
							br
							span.year
								|2005 - 2008
				.col-md-4
					.card.text-center(data-sr="enter bottom and scale up 20% over 0.5s")
						h3 Arbetslivserfarenhet
						p Casino Cosmopol
							br
							span.year
								|2011 - 2014
						p Burger King
							br
							span.year
								|2009 - 2011
						p Tyresö Rackethall
							br
							span.year
								|2008
						p Cafe Machiato
							br
							span.year
								|2007 - 2008
				.col-md-4
					.card.text-center(data-sr="enter bottom and scale up 20% over 0.5s")
						h3 Kurser
						p Världsmöte - Service i världsklass
							br
							span.year
								|2011
						p Spelansvarsutbildning
							br
							span.year
								|2011
						p Livräddarkurs
							br
							span.year
								|2008
		form(method="get" action="/images/Alexander-Afzelius-CV.pdf" target="_blank")
			.card-cv(data-sr="wait 0.5s, then enter bottom and move 50px")
				button.btn.btn-cv(type="submit")
					h3(style="color: #1a2732 !important") Fullständigt CV
	.section.section-projects
		h2.text-center
			|Tidigare projekt
		.container
			.col-md-4.text-center
				a(href="http://alexandrapuccini.se", target="_blank", data-sr="enter bottom and scale up 20% over 0.4s")
					img(src="/images/alexandraPuccini.png")
				h3 Alexandra Puccini
				p Den första sidan jag någonsin
					br
					|skapat. Hemsidan var till min mor
					br
					|när hon ställde upp som kandidat
					br
					|till landstingsfullmäktige.
			.col-md-4.text-center
				a(href="http://109.74.8.246:3000/", target="_blank", data-sr="enter bottom and scale up 20% over 0.6s")
					img(src="/images/mstrez.png")
				h3 Mstrez
				p En sida till musikgruppen Mstrez,
					br
					|där fokus var koppling mot sociala
					br
					|medier, och med ett eget cms där de med
					br
					|lätthet kan hålla oss uppdaterade.
			.col-md-4.text-center
				a(href="http://gullmarsfrisörerna.se", target="_blank", data-sr="enter bottom and scale up 20% over 0.8s")
					img(src="/images/gullmarsfrisorerna.png")
				h3 Gullmarsfrisörerna
				p Mitt första riktiga uppdrag
					br
					|mot kund. En enkel sida där 
					br
					|de själva kan ange text och prissättning.
					br
					|Mobil design var inte en del av jobbet.
	.section.section-contact.text-center
		.container
			.row
				.col-xs-2
				.col-xs-8
					h1.fill-text.text-center
						|Var inte blyg
					p.ingress.text-center
						|Du är välkommen att maila mig på 
						a#email.fill-text2 alex.afzelius@gmail.com 
						|eller fånga mig i följande sociala medier.
					a(href="https://www.facebook.com/alex.puccini.98", target="_blank")
						i.fa.fa-facebook.fa-3x.fill-text2
					a(href="http://se.linkedin.com/in/afzeliuspuccini", target="_blank")
						i.fa.fa-linkedin.fa-3x.fill-text2
					a(href="https://github.com/fladderapa", target="_blank")
						i.fa.fa-github.fa-3x.fill-text2
				.col-xs-2
	script.
		window.sr = new scrollReveal();
		$("#section-me").click(function() {$('html, body').animate({scrollTop: $(".section-me").offset().top}, 500);});
		$("#section-cv").click(function() {$('html, body').animate({scrollTop: $(".section-cv").offset().top}, 500);});
		$("#section-projects").click(function() {$('html, body').animate({scrollTop: $(".section-projects").offset().top}, 500);});
		$("#section-contact").click(function() {$('html, body').animate({scrollTop: $(".section-contact").offset().top}, 500);});













