extends layout

block content
	.section.maintron
		.filter
		video.img-responsive#bgvid(autoplay='', loop='', poster='http://artbees.net/themes/jupiter-demo/wp-content/uploads/2013/10/home-vid-img.jpg')
			source(src='http://artbees.net/themes/jupiter-demo/wp-content/uploads/2013/10/homepage.webm', type='video/webm')
			source(src='http://artbees.net/themes/jupiter-demo/wp-content/uploads/2013/10/shutterstock_v3702740_4.m4v', type='video/mp4')
		.container.text-center
			h1 Alexander Afzelius Puccini
			p.ingress(style="color: white !important; opacity: 0.9;") Webbutvecklare
	.section.menu
			ul
				li
					a Anställningar
				li
					a Om Alexander
				li
					a Projekt
				li
					a Utbildning
	.section.section-header
		.container
			.row
				.col-xs-12
					h1.fill-text.text-center
						|Jag vill skapa funktionella, inspirerande och responsiva hemsidor.
					p.ingress.text-center
						|Min ambition är att ligga i webbutvecklingens framkant, då jag med funktionell
						| design, användarvänlighet och resposivitet vill förmedla den bästa upplvelse.
			.row.icons
				.col-md-3
				.col-md-2.text-center
					p
						i.fa.fa-paint-brush.fa-2x.fill-text
					h4
						|Design
				.col-md-2.text-center
					p
						i.fa.fa-laptop.fa-2x.fill-text
						i.fa.fa-tablet.fa-2x.fill-text
						i.fa.fa-mobile.fa-2x.fill-text
					h4 Responsiv
				.col-md-2.text-center
					p
						i.fa.fa-users.fa-2x.fill-text
					h4 Användarvänlighet
				.col-md-3
	.section.section-wallpaper
		span.triangle-down
	.section.section-header
		.container
			.row
				.col-xs-12
					h1.fill-text.text-center
						|Min story
					p
						|Min ambition är att ligga i webbutvecklingens framkant, då jag med funktionell
						| design, användarvänlighet och resposivitet vill förmedla den bästa upplvelse.
						|Min ambition är att ligga i webbutvecklingens framkant, då jag med funktionell
						| design, användarvänlighet och resposivitet vill förmedla den bästa upplvelse.
						| design, användarvänlighet och resposivitet vill förmedla den bästa upplvelse.
						|Min ambition är att ligga i webbutvecklingens framkant, då jag med funktionell
						| design, användarvänlighet och resposivitet vill förmedla den bästa upplvelse.
	.section.section-cv
		.container
			.row
				.col-md-4
					.card.education
						h3 Utbildning
						p Teknikhögskolan 
							br
							|Applikationsutvecklare.Net
							br
							span.year
								|2013 - 2015
						p Livräddarkurs
							br
							span.year
								|2008
						p Tyresö Gymnasium 
							br
							|Samhällsvetenskap
							br
							span.year
								|2005 - 2008
				.col-md-4
					.card.experience
						h3 Arbetslivserfarenhet
						p Casino Cosmopol
							br
							span.year
								|2011 - 2014
						p Burger King
							br
							span.year
								|2009 - 2011
						p Tyresö Rackethall
							br
							span.year
								|2008
						p Cafe Machiato
							br
							span.year
								|2007 - 2008
				.col-md-4
					.card.courses
						h3 Kurser
	.section.section-projects
		h2.text-center.fill-text
			|Tidigare projekt
		.container
			.col-md-4.text-center
				img(src="/images/alexandraPuccini.png")
				h3 Alexandra Puccini
				p Den första sidan jag någonsin
					br
					|skapat. Hemsidan var till min mor
					br
					|när hon ställde upp som kandidat
					br
					|till landstingsfullmäktige.
			.col-md-4.text-center
				img(src="/images/mstrez.png")
				h3 Mstrez
				p En sida till musikgruppen Mstrez,
					br
					|där fokus var koppling mot sociala
					br
					|medier. Med ett eget cms är kan de
					br
					|med lätthet hålla oss uppdaterade.
			.col-md-4.text-center
				img(src="/images/gullmarsfrisorerna.png")
				h3 Gullmarsfrisörerna
				p Mitt första riktiga uppdrag
					br
					|mot kund. En enkel sida där 
					br
					|de själva kan ange text och prissättning.
					br
					|Mobil design var inte en del av jobbet.


